.contenedorLoQueHacemos p{
    justify-content: flex-start;
    box-sizing: border-box;
}

.Col{
    margin-left: 0 !important;
}

.imgalmuerzo{
    width: 50%;
    height: 50%;
    object-fit: fill;
    box-sizing: border-box;
    /* padding: 40px  40px ; */
}