/* Elemento Dinamico Container Multimedia */

.video {
    width: 100% !important;
    object-fit: cover;
    position: relative;
    height: 600px !important;     
}

.Overlay {
    font-size: 30px;
    position: absolute;
    text-align: left;
    width: 35%;
    top: -1000%;
    left: -5%;
    height: 200px;
    z-index: -200;    
}
.colorTextoh1{
    color: white;
}

.Overlay button{
    margin-top: 25px;    
}
