/* Elemento Dinamico Container Multimedia */


.SectionMultimedia{
    width: 100%;
    height:700px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.Overlay {
    display: flex;
    width: 90%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    color: white;
    
}

.video{  
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

/* .Overlay{
    position: relative; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    /* display: block; */
    /* width: 40%; 
    height: 50%; 
    background-color: transparent; */
    /* z-index: 2; */
/* } */

/* .video{  Video toma contenido container completo, pero texto desaparece */ 
    /* display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
} */

/* .video{ Video queda bajo el contenedor y afuera de el 
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    height: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
} */
/* .video{ video sale de contenedor
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    object-fit: cover;
} */
/* .SectionMultimedia .video{
    width: 100%;
    height: 100%;
} */



  /* .sectionMultimedia .video {
    width: 100%;
    position: relative;
  }
  
  .sectionMultimedia .overlay {
    position: relative; 
    display: block;
  
    width: 40%; 
    height: 50%; 
    background-color: transparent;
    z-index: 2;
  } */