.contenedorGeneralLoQueHacemos p{
    justify-content: flex-start;
    box-sizing: border-box;
}


.contenedorboxLoQueHacemos {
   background-color: transparent;
}

.fotoAlmuerzo img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    box-sizing: border-box;
    padding: 40px 15px 40px 15px;
}

.textoalineadoIzquierda{
    text-align: left;
    align-self: center;
    box-sizing: border-box;
    padding: 40px 15px 40px 15px;
}




/* .contenedorLoQueHacemos p{
    justify-content: flex-start;
    box-sizing: border-box;
}


.fotoAlmuerzo img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    box-sizing: border-box;
    padding: 40px 15px 40px 15px;
}

.textoalineadoIzquierda{
    text-align: left;
    align-self: center;
    box-sizing: border-box;
    padding: 40px 15px 40px 15px;
}

.contenedorboxLoQueHacemos {
    background-color: transparent;
 } */
