.contenedorGeneralTarjetas {
  display: block;
  width: 100%;
}

.contenedorTarjetas {
  display: flex;
  width: 100%;
}

.boxTarjeta {
  background-color: teal;
}
.boxImagenes {
  background-color: yellow;
}

.boxTextoTarjeta {
  background-color: tomato;
}

.imgTarjeta {
  width: 50%;
  position: absolute;
}

.logoTarjeta {
  width: 50%;
  position: relative;
}

.fotoAlianzas img {
  width: 20%;
  height: 20%;
  display: flexbox;
  justify-content: center;
  align-items: flex-start;
  margin: 2%;
}
