.tituloalineadoIzquierda{
text-align: left;
}
.contenedorGeneralTarjetas {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-left: 60px;
    padding-right: 60px;
}

.contenedorTarjetas {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: teal; */
}

.boxImagenesTarjeta {    
    width: 100%;
}

.boxTextoTarjeta {
    padding: 15px;
    box-sizing: border-box;
    /* background-color: tomato; */
}

.imgTarjeta {
    width: 200px;   
    height: 200px; 
    padding: 15px;
    box-sizing: border-box;
    /* background-color: violet; */
}
.tituloBoxTextoTarjeta{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}

.parrafoBoxTextoTarjeta{
    font-size: 21px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
}