.boxMenuNavegacionFijo {
    position: sticky;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    /* background: rgba(255, 255, 255, 0.5); */
    z-index: 100;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: center;
    flex-grow: 0;
    margin: 0px 0px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    /* background-color: tomato; */
}

.boxRenderizadoMenuSeleccionado {
    width: 100%;
    background-color: white;
    margin-top: 0;  
}

.boxMenuNavegacion {
    background-color: white;
    height: 80px;    
    display: flex;
}

.imgLogoMenuNavegacion {
    /* background-color: blueviolet; */
    width: 130px;
    height: 130px;
    box-sizing: border-box;
    margin: 10px 50px -40px 60px;
}

.boxListaMenuNavegacion {
    /* background-color: coral; */
    display: flex;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    letter-spacing: 0.2px;
    color: #373F41;
    list-style-type: none;
    text-decoration: none;
    width: 100%;
    margin-right: 0;
    /* justify-content: flex-end; */
    justify-content: space-around;
    box-sizing: border-box;
    margin: 20px;
    
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

