/* Elemento fijo Redes Sociales */

.Social-Container {
  background: transparent; 
  display: flex;  
  flex-direction: column;
  justify-content: baseline;
  align-items: flex-end;
}

.SocialIcons {
  justify-content: baseline;
  align-items: flex-center;
  margin-bottom: 10px;
}

.SocialIcons a {
  margin: 0 15px 0 15px;
  transition: transform 250ms;
  display: inline-block;
  color: #FFFFFF;
}

.SocialIcons a:hover {
  transform: translateY(-2px);
  /* color: #fd4c00; */
}

.SocialText {
  color: white;
  align-items: space-between;
}

.ColorParrafo{
  color: white;
  font-size: 18px;
  margin: 0 15px 0 15px;
}

.TamanoSocialIcons {
  width: 40px;
  height: 40px;
}
