.btnGeneral {
    background-color: #FD4C00;
    color: white;
    box-sizing: border-box;
    transition-duration: 0.4s;
    min-height: 45px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.btnGeneral:hover {
    background-color: #8A2900;
    color: white;
}

.btnGeneral:active {
    background-color: transparent;
    color: #FD4C00;
    border: 2px solid #FD4C00;
}

.btnGeneral a:link,
.btnGeneral a:visited,
.btnGeneral a:active  {
    text-decoration: none;
    color: white;       
}

.btnSecundario {
    background-color: transparent;
    color: #8A2900;
    box-sizing: border-box;
    transition-duration: 0.4s;
    min-height: 45px;
    border: 2px solid #8A2900;
    border-radius: 3px;
    font-size: 18px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.btnSecundario:hover {
    background-color: #4F5515;
    color: white;
    border: none;
}

.btnSecundario:active {
    background-color: #FDAC07;
    color: white;
    border: none;
}

.btnCloseModal {
    transition-duration: 0.4s;
    border: none;
    background-color: transparent;
}

.btnCloseModal img {
    border-radius: 50px;
    background: transparent;
    transition: opacity .15s ease;
    opacity: .5;
}

.btnCloseModal img:hover {
    opacity: 1;
}

