.modal-content {
    justify-content: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}
.modal-content button{
    align-self: flex-end;
    margin: 15px;
}
.modal-header {
    border-bottom-style: none;
    justify-content: center;
}

.modal-header .modal-title {
    text-align: center;    
}

.modal-body {
    text-align: center;
}

.modal-footer {
    border-top-style: none;
    justify-content: center;
}