.form-bg{
    position: relative;
    background-color:transparent;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.form-region {
    display: flex;
    justify-content: space-between;
}

/* .form-group{
    width: 80% !important;
} */

/* Btn Enviar */

.mybtn{
    background-color: #FD4C00 !important; 
    color: white;
    display:flex;
    justify-content: flex-start;
}
