.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: tomato;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mybtn {
  background-color: blueviolet !important;
}

/* Elemento Dinamico Container Multimedia */
.sectionMultimedia .video {
  width: 100%;
  position: relative;
}

.sectionMultimedia .overlay {
  position: relative; /* Sit on top of the page content */
  display: block;
  /* background-clip: url('./Componentes/MultimediaComponents/LaReceta.mp4'); */
  width: 40%; /* Full width (cover the whole page) */
  height: 50%; /* Full height (cover the whole page) */
  background-color: transparent;
  z-index: 2;
}

/* Elemento fijo Redes Sociales */
.Social-Container {
  background: #eee;
  padding: 25px 50px;
}

.Social-Container a {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
  color: #98238e;
}

.Social-Container a:hover {
  transform: translateY(-2px);
  color: #fd4c00;
}

.pastillaFooter {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 364px;
  background-image: url("img/Comunidad\ footer\ 1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.logoImg img {
  display: flex;
  width: 100px;
  height: 100px;
}

footer li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  width: auto;
  margin: 0 20px;
  text-align: justify;
}
