.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: tomato;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mybtn {
  background-color: blueviolet !important;
}

/* Elemento Dinamico Container Multimedia */

.sectionMultimedia {
  width: 100%;
  height: 100%;
  background-color: teal;
}
.sectionMultimedia .video {
  width : 100%;
  /* position: absolute; */
  object-fit: cover;

}

.sectionMultimedia .overlay{
  position: relative; /* Sit on top of the page content */
  display: block; 
  width:40%; 
  height: 50%; 
  background-color:transparent; 
  z-index: 2; 
}

/* Elemento fijo Redes Sociales */
.Social-Container{
  background: #eee;
  padding: 25px 50px;
}

.Social-Container a {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
  color: #98238E;
}

.Social-Container a:hover{
  transform: translateY(-2px); 
  color: #FD4C00 ; 
}

/* Estilo boton Se Parte, dropdown */

.sePartedrop{
  background-color: #FD4C00 !important;
  border-color: transparent !important;
}